/* var(--page-size-m) = 665px - vars not usable in queries */
@media (min-width: 665px) {
  .half {
    width: 50%;
  }

  .input-control.half,
  .row.half {
    position: relative;
    width: 50%;
  }

  .row.mobile-col {
    flex-direction: row;
  }

  #wizard-container {
    margin-left: calc(var(--grid-outermargin-m) * -1);
    padding: 1rem 0;
    width: calc(100% + var(--grid-outermargin-m) * 2);
  }

  #js-ReportForm {
    padding: 40px 10px 0;
  }

  .step .circle {
    background-color: var(--wizard-step-empty);
    border: 2px solid var(--base-background);
    height: 36px;
    width: 36px;
    z-index: 1;
  }

  .step .number {
    display: block;
  }

  .step.active .icon,
  .step.complete .icon {
    display: block;
  }

  .step.active .circle {
    background-color: var(--wizard-step-complete);
    border: 2px solid var(--base-background);
    height: 48px;
    width: 48px;
  }

  .step.complete .circle {
    background-color: var(--wizard-step-complete);
    border: 2px solid var(--base-background);
  }

  .step .description {
    display: block;
  }

  .step::after {
    background: var(--base-background);
    top: 23px;
    width: calc(100% + 15px);
  }

  .step.active + .description {
    display: none;
  }

  .form-element {
    margin: 0 0 20px;
  }

  .issue-form .form-label.big {
    font-size: 18px;
    margin-bottom: 8px;
    text-align: center;
  }

  .custom-browser .form-label {
    font-weight: 200;
    margin-bottom: 5px;
  }

  .final-step .form-label {
    margin-bottom: 15px;
    margin-top: 0;
  }

  .other-browser .form-label {
    margin-bottom: 5px;
  }

  #js-ReportForm .form-label {
    margin-bottom: 5px;
    width: auto;
  }

  .custom-browser .form-element:nth-child(odd) {
    margin-right: 16px;
  }

  .custom-browser .form-element:nth-child(even) {
    margin: 0 0 20px 16px;
  }

  .page-heading {
    font-size: 32px;
    margin: 20px;
  }

  .step1 .hero {
    order: 0;
  }

  .protruding-img {
    position: absolute;
    top: -30px;
  }

  .step-container.step1 {
    background-color: var(--base-background);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
    margin-top: 23px;
  }

  .step-container:not(.step1) {
    animation-duration: .4s;
    margin-top: var(--presumed-step-height);
  }

  .input-control {
    padding: 25px 20px 14px 20px;
  }

  .input-control .input-description {
    font-size: 18px;
    line-height: 1.56;
    margin-bottom: 12px;
    text-align: center;
  }

  .mobile-only {
    display: none;
  }

  .issue-form .text-field {
    border-color: var(--color-form);
    font-size: 90%;
    font-weight: 600;
    padding: 11px 24px 11px 8px;
  }

  .low .text-field {
    border-radius: 2px;
    color: var(--color-second);
    font-weight: 200;
    margin-bottom: 17px;
    padding: 5px 24px 7px 8px;
  }

  .button-control {
    background-color: var(--wizard-grey-bg);
    border-top: 1px solid var(--button-box-border);
  }

  .button-control .input-control {
    padding: 25px 0 14px 0;
  }

  .with-validation-icons.is-validated::after,
  .with-validation-icons.is-error::before {
    bottom: 8px;
    height: 24px;
    right: 8px;
    width: 24px;
  }

  .low.is-validated::after,
  .low.is-error::before {
    bottom: 22px;
    height: 20px;
    width: 20px;
  }

  .custom-browser .low.is-validated::after,
  .custom-browser .low.is-error::before {
    bottom: 22px;
    right: 8px;
  }

  .choice-control ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .choice-control li {
    font-size: 16px;
    line-height: 23px;
    padding: 20px;
    width: 20%;
  }

  .choice-control .icon-container {
    height: 92px;
    margin: 0 auto 14px;
    width: 92px;
  }

  #browsers li {
    width: 50%;
  }

  .device-data {
    padding: 45px 20px 34px 20px;
    width: 70%;
  }

  .device-data-hero {
    display: flex;
    width: 40%;
  }

  .device-data .input-description {
    text-align: left;
  }

  .other-option,
  .no-other-browser {
    margin-bottom: 6px;
    padding: 0;
  }

  .no-other-browser {
    line-height: 28px;
    margin-bottom: 0;
    padding: 0;
  }

  .other-problem,
  .other-browser,
  .optional-username {
    padding: 0;
  }

  .warning {
    border: 5px solid var(--warning-border);
    justify-content: center;
    padding-bottom: 22px;
    width: 66%;
  }

  .warning .warning-icon {
    width: auto;
  }

  .warning .warning-text {
    font-size: 18px;
    line-height: 1.56;
    margin: 16px 50px;
  }

  .description-text {
    font-size: 18px;
    padding-bottom: 25px;
    padding-top: 120px;
  }

  .progress-textarea textarea {
    font-size: 16px;
    line-height: 1.75;
  }

  .issue-btn {
    min-width: 140px;
  }

  .issue-btn.red {
    margin-left: 20px;
  }

  .upload-screenshot .form-upload {
    min-height: 260px;
  }

  .spaced-link {
    margin-bottom: 0;
  }

  .final-step-hero {
    display: flex;
  }

  .final-step .header .input-description {
    font-size: 32px;
    font-weight: 200;
    padding: 35px 0;
    width: 73%;
  }

  .final-text {
    font-size: 18px;
    margin-bottom: 24px;
    padding: 0;
    text-align: center;
  }

  #submitgithub {
    margin-right: 16px;
  }

  .final-step .button#open-username {
    margin-bottom: 16px;
    padding: 8px 23px;
  }

  .optional-username {
    font-size: 18px;
    padding-top: 5px;
    text-align: center;
    width: 100%;
  }

  #submitanon {
    margin-top: 0;
  }

  .optional-username .label .right-label {
    font-size: 16px;
    margin-top: 0;
    text-transform: none;
  }
}
